 <% include headers%>
<title><%= title %></title>
    </head>
    <body>
        <% include navigation%> 
        <div class="container">
            <div class="row">
                <br>
                <h1>Dashboard</h1>
            </div> 
        </div>
    </body>
</html>

